*.build*
.coverage*
coverage.xml
coverage-dist.xml
dist
.DS_Store
*.egg-info
generated*
.idea
mypy.xml
pip-wheel-metadata
pytest.xml
pytest-*.xml
site
*.venv
venv*
version-with-buildnum.txt
__pycache__
